/* ///////////////////////////// Layout .entete */

.entete {
  display: flex;
  padding: $espacement-normal;
  position: relative;

  /*  /////////////////////// Logo */
  &__logo-container {
    max-height: 75px;
  }

  &__logo {
    height: 100%;
    object-fit: cover;
  }

  /*  /////////////////////// Navigation et Recherche conteneur */
  &__nav-recherche {
    display: flex;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    gap: $espacement-normal;
  }

  /*  /////////////////////// Navigation */
  &__nav {
    display: flex;
    gap: $espacement-normal;
    align-items: center;
  }

  &__menu {
    display: flex;
    list-style: none;
    gap: $espacement-normal;
  }
}
