/* ///////////////////////////// Layout .entete */

.entete {
  display: flex;
  padding: $espacement-normal;
  position: relative;
  z-index: 1;
  overflow: visible;

  /*  /////////////////////// Logo */
  &__logo-container {
    max-height: 75px;
    max-width: 75px;
  }

  /*  /////////////////////// Menu toggle */
  &__toggle-icon {
    display: none;
    margin-right: $espacement-normal;
    cursor: pointer;
  }

  /*  /////////////////////// Navigation et Recherche conteneur */
  &__nav-recherche {
    display: flex;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    gap: $espacement-normal;
    overflow: visible;
  }

  /*  /////////////////////// Navigation */
  &__nav {
    display: flex;
    gap: $espacement-normal;
    align-items: center;
  }

  &__menu {
    display: flex;
    list-style: none;
    gap: $espacement-normal;
  }

  /*  /////////////////////// Media */
  @media (max-width: $tablette) {
    &__nav {
      display: flex;
      flex-direction: column;
      align-items: end;
    }

    &__menu {
      display: none;
      width: 100vw;
      padding: $espacement-normal;
      background-color: $couleur-fond;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: $espacement-normal;
      position: absolute;
      top: 100%;
      right: 0;
    }

    &__toggle-icon {
      display: inline-block;
      padding: $espacement-normal;
      cursor: pointer;
      font-size: 30px;
      width: 50px;
    }
    .entete_toggle:checked + .entete__toggle-icon + .entete__menu {
      display: flex;
    }
  }
}

.custom-logo {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
