/* ///////////////////////////// Layout .galerie */

.galerie {
  margin: $espacement-normal;
  margin-top: $espacement-large;
  overflow: hidden;

  &__images {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }
  &__image {
    width: 270px;
    height: 270px;
    object-fit: cover;
    margin: $espacement-petit;
  }
}
