// Description: General styles for the entire application

*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // border: 1px solid #ccc;
}

body {
  font-family: $font-family-principal;
  font-size: $taille-normal;
  line-height: 1.5;
  background-color: $couleur-fond;
}

li {
  list-style: none;
}
