/* ///////////////////////////// Layout .populaire */
.populaire {
  margin: $espacement-normal;
  margin-top: $espacement-large;

  &__conteneur-articles {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: $espacement-normal;
    margin: $espacement-large 0;
  }

  &__article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: $espacement-normal;
    border: 1px solid $couleur-bordure;
    border-radius: 5px;
  }
  &__article-titre {
    text-align: center;
  }
  &__article-contenu {
    text-align: center;
    margin-bottom: $espacement-normal;
    margin-left: $espacement-normal;
  }
}
