// Variables de points de rupture pour le design responsive
$grand-ecran: 1400px; // Ordinateurs très larges
$desktop: 1180px; // Ordinateurs portables / desktop standard
$tablette: 900px; // Tablettes et petits laptops
$mobile: 600px; // Téléphones mobiles
