//Couleurs
$couleur-fond: rgb(251, 249, 244);
$couleur-texte: rgb(6, 3, 36);
$couleur-principal: rgb(108, 197, 230);
$couleur-bordure: #aaa;

//Typographie
/* --- Taille de police --- */
$taille-police-petit: 0.9rem;
$taille-police-normal: 1rem;
$taille-police-moyen: 1.2rem;
$taille-police-grand: 1.8rem;
$taille-police-gros: 2rem;
/* --- Epaisseur de police --- */
$epaisseur-police-normale: 400;
$epaisseur-police-gras: 500;
$epaisseur-police-tres-gras: 700;