/* ///////////////////////////// Layout .carte */

.conteneur {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: $espacement-normal;
  margin: $espacement-large 0;

  &__carte {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: $espacement-normal;
    align-items: center;
    border: 1px solid #dfd6d6;
    background-color: $couleur-secondaire;
    border-radius: $espacement-petit;
    padding: $espacement-normal;
    width: 30%;
    @media screen and (max-width: $tablette) {
      width: 50%;
    }
    &__lien {
      color: $couleur-principal;
      font-weight: $epaisseur-police-gras;
      background-color: $couleur-principal;
      padding: $espacement-petit;
      border-radius: $espacement-petit;
      margin-left: $espacement-normal;
      color: $couleur-fond;
    }
    &__temperature,
    &__note {
      display: flex;
    }
    &__temperature img,
    &__note img {
      display: block;
      width: 30px;
    }
    &__categories .post-categories > * {
      background-color: $couleur-bordure;
      color: white;
      font-weight: $epaisseur-police-gras;
      border-radius: 5px;
      padding: $espacement-petit;
      margin: $espacement-petit;
      text-align: center;
    }
    &__categories .post-categories > li > a {
      color: white;
    }
  }
}
