/* / ////////////////////////////// Compsant .recherche */

.recherche {
  border: 1px solid $couleur-bordure;
  display: flex;
  align-items: center;

  &__input {
    border: none;
    border-left: 1px solid $couleur-bordure;
  }

  &__bouton {
    border-left: 1px solid #aaa;
  }
}
