h1 {
  font-family: $font-family-decorative;
  font-size: $taille-grande;
  font-weight: $epaisseur-police-tres-gras;
  color: $couleur-texte;
}

h2 {
  font-family: $font-family-decorative;
  font-size: $taille-moyenne;
  font-weight: $epaisseur-police-gras;
  color: $couleur-texte;
}
